header{
    min-height:100vh;
    background-image:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)), url(../Images/header2.jpeg);
    background-position: center;
    background-size: cover;
}
 

.navbar-brand img{
    border-radius: 50%;
}

.nav-item{
    margin-left: 25px;
}
.nav-link{
    font-size: 1.5rem;
}

.btn{
    margin-left: 130px;
}

hr{
    width: 100px;
    margin: 20px auto;
    border: 1.7px solid pink;
    background-color: pink;
}


